doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Material design components for Vue.js
		link(rel="stylesheet" type="text/css" media="none" onload="this.media = 'all';" href="/material-components-web-vue/css/index.min.css")
	body.mdc-typography
		div#app
		script(type="text/javascript" async="true" defer="true" src="/material-components-web-vue/js/index.min.js")
